.footer
{
    height: 100px;
    width:100%;
    /*border: 3px solid white;*/
    background-color: #efefef;
    font-size:12px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /*align-items: center;*/
}
#contactBasic
{
    padding:10px 15px;
    width:100%;
    height: 50%;
    /*border: 3px solid white;*/
    background-color: #efefef;
    font-size:12px;
    color:#1e1e1e;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#legelInfo
{
    padding:10px 15px;
    width:100%;
    width:100%;
    height:50%;
    /*border: 3px solid white;*/
    background-color: #efefef;
    font-size:12px;
    color:#1e1e1e;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.pic-for-detail-page
{
	
	width:25%;
	height:25%;
}
.txt-for-detail-page
{
	padding: 0 0 0 50px;
}

.more-contact
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: left;
}