.body
{
   background-color: #23bbff;
}
.header
{
    padding: 5px;
    height: 30px;
    width:100%;
    color: #FFFFFF;
    border-bottom: 1px solid white;
    font-size:16px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.content
{
    height: 350px;
}

.logout
{
    padding-right:20px;
    font-size: 16px;
    color: #FFFFFF;
}

.menugroup
{
   height:300px;
}
.menuitem
{
    margin-top:20px;
    padding-top: 10px;
    color:#FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.register
{
    padding-top:10px;
    padding-right:20px;
    font-size: 16px;
    color: #FFFFFF;
}


.footer
{
    margin-top:100px;
    padding: 5px;
    height: 20px;
    width:100%;
    border-top: 1px solid white;
    font-size:16px;
    font-size:12px;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}



.loginForm
{
   margin-top: 200px;
   text-align: center;
   align: center;
}
.username
{
  margin-top: 10px;
}
.password
{
  margin-top: 10px;
}

.login
{
  margin-top: 20px;
  margin-right: 20px;
  width:60px;
}
.reset
{
  margin-top: 20px;
  width:60px;
}