* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    font-size:20px;
}

div {
	display: flex;
	align-items:center;
}

.thead {
	background:#AAAAAA;
}

.even {
	background:#BBBBDD;
}

.odd {
	background:#FFFFEE;
}

.parent {
	background:#88FF88;
}

.selected {
	background:#7878BE;
}

.childselected {
	background:#BCBC22;
}

.filter {
	margin-bottom:20px;
    display: flex;
    align-items:center;
    background:#FFFFEE;
}

.wrap{
    width:100%;
    height:5500px;
    margin-top:20px;
    overflow: hidden;
}
#left{
    width:45%;
    height:100%;
    background: #ccffff;
    float: left;
}
#middle{
	padding-top:100px;
    width:10%;
    height:100%;
    background: #ccffcc;
}

.actinbtn{
    margin-top:50px;
}
#right{
    width:45%;
    height:100%;
    background: #ccffff;
    float: left;
}
