.loginForm
{
   margin: 180px auto;
   padding: 10px;
   border: 1px solid white;
   background: url(../images/background.png);
   width: 30%;
   height: 200px;
   text-align: center;
   background-color:#ffffff;
}

#btns
{
   flex-direction: column;
   justify-content: space-between;
}

#login
{
  margin-top: 20px;
  margin-right: 20px;
  width:60px;
}
#reset
{
  margin-top: 20px;
  width:60px;
}

#register
{
  display:inline;
  margin-top: 20px;
  margin-left: 20px;
  width:60px;
}
