#CreateUserForm
{
   margin: 50px auto;
   padding-top: 10px;
   padding-left: 50px;
   border: 1px solid white;
   background: url(../images/background.png);
   background-color:#ffffff;
   width: 30%;
   height: 85%;
}

.item
{
  padding-top: 10px;
}
.textField
{
  margin-top: 10px;
  background-color: #FFFFFF;
  font-size: 12px;
  text-align: center;
}

.login
{
  margin-top: 20px;
  margin-right: 20px;
  width:60px;
}
.reset
{
  margin-top: 20px;
  width:60px;
}